# * text=auto
# *.css linguist-vendored
# *.scss linguist-vendored
# *.js linguist-vendored
# CHANGELOG.md export-ignore

* text=auto
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.js diff=js
# *.css linguist-vendored
# *.scss linguist-vendored
# *.js linguist-vendored
/.github export-ignore
CHANGELOG.md export-ignore