* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore

# * text=auto
# *.php diff=php
# *.blade.php diff=html
# *.html diff=html
# *.js diff=js
# *.css diff=css
# *.scss diff=scss
# *.md diff=markdown
# /.github export-ignore
# CHANGELOG.md export-ignore